.transactionListContainer {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; // Keeps other children centered
  min-width: 85vw;
  margin-left: auto;
  margin-right: auto;

  h3 {
    align-self: flex-start; // Override parent alignment for h3
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    color: #ffffff;
    text-align: start; // Ensure text is left-aligned
    opacity: 70%;
  }
}
.transaction {
  display: grid;
  text-align: start;
  background-color: #1e113b;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 0.5rem;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "amount type"
    "value date";
}

.amount {
  grid-area: amount;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.6rem;
}

.value {
  grid-area: value;
  font-size: 0.8rem;
  opacity: 90%;
  margin-top: 0;
  margin-bottom: 0;
}

.type {
  text-align: end;
  grid-area: type;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.6rem;
}

.date {
  text-align: end;
  grid-area: date;
  font-size: 0.8rem;
  opacity: 90%;
  margin-top: 0;
  margin-bottom: 0;
}

.green {
  color: #71ffb3;
}

.red {
  color: #ff7171;
}

.orange {
  color: #ffd971;
}
