.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 80vw;
  min-height: 15vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.topUpButton,
.withdrawButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: white;
  color: #2e2e4d;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  min-width: 0;
}

.topUpButton:hover,
.withdrawButton:hover {
  opacity: 85%;
}

.topUpButton {
  border-right: 1px solid #444; // Divider between buttons
}

.withdrawButton {
  border-left: 1px solid #444; // Divider between buttons
}

.topUpButton img,
.withdrawButton img {
  margin-left: 8px;
  width: 16px;
  height: 16px;
}

.topUpButton {
  border-right: 1px solid #444; // Divider between buttons
  border-radius: 150px 0 0 150px; // Rounded on the left
}

.withdrawButton {
  border-left: 1px solid #444; // Divider between buttons
  border-radius: 0 150px 150px 0; // Rounded on the right
}
